/* styles/globals.css */

@import './base/_reset.css';
@import './base/_typography.css';
@import './base/_colors.css';
@import './components/buttonStyles.css'; 
@import './components/inputStyles.css'; 

body {
  background-color: var(--background-default);
  color: var(--text-primary);
}

a {
  color: var(--primary-color);
}

:root {
  /* Define the default margin */
  --margin: calc(10vw);
}

/* Adjust the margin based on viewport width */
@media (max-width: 1500px) {
  :root {
    --margin: calc(5vw);
  }
}

@media (max-width: 800px) {
  :root {
    --margin: calc(3vw);
  }
}